*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
#header{
	display: inline;
	background: #fdc00f;
}

img{
	position: absolute;
	left: 20px;
	top: 0px;
}
h1{
	position: absolute;
	right: 20px;
	top: 20px;
	background: #fdc00f;
}
#meni{
	background: #fdc00f;
	padding-bottom: 5px;
	padding-top: 100px;
}
#meni ul li{
	display: inline-block;
}
#meni ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: blue;
}
#meni ul li a:hover{
	color:darkblue;
}

#glavni{
	display: table;
	width: 100%;
}
#side , #glavniSadrzaj{
	display: table-cell;
}
#side{
	background: #d9cfb1;
	width: 35%;
	text-align: center;
}
#glavniSadrzaj{
	background: #bbbbbb;
	width: 65%;
	text-align: center;
}
#glavniSadrzaj table{
	border-collapse: collapse;
	display: inline-table;
	margin: 10px;
}
#glavniSadrzaj table tr, th, td{
	border-width: 1px;
	border-style: solid;
}
#glavniSadrzaj table th{
	background: #c8bf9b;
}
#glavniSadrzaj table a{
	text-decoration: none;
}
#glavniSadrzaj table *{
	padding: 10px;	
}
#side ul{
	margin: 10px auto;
	height:100px;
	width:60%;
	overflow:hidden; 
	overflow-y:scroll;
	border-style: solid;
	border-width: 1px;
	background: white;
	text-align: left;
	padding-left: 5px;
}

#footer {
	clear: both;
	width: 100%;
	background: #fdc00f;
	text-align: center;
}
@media only screen and (max-width: 600px) {
    #glavni{
    	display: block;
    }
    #side , #glavniSadrzaj{
		display: block;
		width: 100%;
	}
	#side{
		padding-bottom: 10px;
	}
	h1{
		position: initial;
		width: 100%;
		margin-left: 10px;
	}
}